<p id="notice"><%= notice %></p>

<p>
  <strong>Flight:</strong>
  <%= @seat.flight_id %>
</p>

<p>
  <strong>Passenger:</strong>
  <%= @seat.passenger_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @seat.name %>
</p>

<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
